.body-circle{
    width: 43.5px;
    height: 22px;
    background-color: var(--text-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 0px 2px;
    z-index: 1;
}

:root {
    --margin-left: 0.5px;
  }

.circle-active {
    --margin-left: 22px;
}

.circle{
    width: 17px;
    height: 17px;
    background-color: aliceblue;
    border-radius: 50%;
    border: none;
    margin-left: var(--margin-left);
    transition: 0.3s ease-in;
    position: absolute;
}

.bi-moon{
    font-size: 12px;
    padding-left: 5px;
    color: aliceblue;
}
.bi-brightness-low{
    font-size: 17px;
    padding-right: 2px;
    color: aliceblue;
}